@font-face {
    font-family: "Neutraface Bold";
    src: url(../assets/fonts/neutraface/Neutraface2Text-Bold.woff2);
}

@font-face {
    font-family: "Neutraface Bold Italic";
    src: url(../assets/fonts/neutraface/Neutraface2Text-BoldItalic.woff2);
}

@font-face {
    font-family: "Neutraface Demi Italic";
    src: url(../assets/fonts/neutraface/Neutraface2Text-DemiItalic.woff2);
}

body {
    margin: 0 auto;
}

h1 {
    font-family: "Neutraface Bold", sans-serif;
    font-weight: bold;
    position: relative;
    color: black;
    font-size: 15rem;
    line-height: 15rem;
    left: 6rem;
    animation: name 1.5s ease-in alternate;
    z-index: 1;
}
  
@keyframes name {
    0%    { transform: translateX(-60rem);}
    100%  { transform: translateX(0rem);}
}

#pink-circle {
    position: absolute;
    background: rgba(255, 79, 79, 0.5);
    width: 35rem;
    height: 35rem;
    border-radius: 50%;
    right: 15rem;
    top: 5rem;
    animation: pink-circle 1.5s ease-in alternate;
    z-index: 1;
}

@keyframes pink-circle {
    0%    { transform: translate(-30rem, -40rem);}
    100%  { transform: translate(0rem);}
}

#blue-circle {
    position: absolute;
    background: rgba(111, 116, 255, 0.5);
    width: 35rem;
    height: 35rem;
    border-radius: 50%;
    right: 3rem;
    bottom: 5rem;
    animation: blue-circle 1.5s ease-in alternate;
    z-index: 1;
}

@keyframes blue-circle {
    0%   { transform: translate(30rem, 40rem);}
    100%  { transform: translate(0rem);}
}

a {
    text-decoration: none;
}

h2 {
    font-family: "Neutraface Bold Italic", sans-serif;
    font-weight: bold;
    font-style: italic;
    position: absolute;
    color: white;
    font-size: 5rem;
    line-height: 5rem;
    z-index: 2;
}

h2:hover {
    text-shadow: 0px 0px 20px white;
}

#studio h2 {
    right: 27rem;
    top: 9rem;
}

#lab h2 {
    right: 9rem;
    bottom: 8rem;
}

#aboutme h3 {
    font-family: "Neutraface Demi Italic", sans-serif;
    font-style: italic;
    font-size: 2.5rem;
    color: black;
    position: absolute;
    left: 6.5rem;
    bottom: 12rem;
    animation: aboutme 1.5s ease-in alternate;
}
  
@keyframes aboutme {
    0%   { transform: translateX(-60rem);}
    100% { transform: translateX(0rem);}
}

h3:hover {
    text-decoration: 10px underline solid rgba(195, 118, 255, 0.5);
}